<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ifmo.android_2016.irc"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:name=".IRCApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChannelsListActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme.Dark"
            android:name=".ChatActivity"
            android:windowSoftInputMode="stateHidden" >
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".ChannelsListActivity" />-->

        </activity>

        <service
            android:name=".client.ClientService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".TwitchLoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.TwitchLogin" />
    </application>

</manifest>